/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 20px;
}

.logo img {
  width: 110px;
  height: auto;
}

.links-content ul {
  padding-left: 110px;
  display: flex;
  gap: 40px;
  list-style: none;
}

.links-content a {
  text-decoration: none;
  color: rgb(213, 213, 213);
  font-size: 1.1rem;
}

.links-content a:hover {
  text-decoration: underline;
}

.user {
  display: flex;
  gap: 20px;
  text-align: center;
  align-items: center;
}

.user .login {
  border-radius: 50px;
  color: white;
  border: solid 1px white;
  padding: 10px 35px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.user .login:hover {
  background: linear-gradient(45deg, #f5f5f5, #ffffff, #ffffff);
  color: rgb(55, 27, 181);
}

.user .account {
  border-radius: 50px;
  border: 1px solid transparent;
  text-decoration: none;
  color: rgb(55, 27, 181);
  padding: 10px 35px;
  background: linear-gradient(45deg, #fcfcfc, #ffffff, #f5f5f5);
  transition: all 0.4s ease-in-out;
}

.user .account:hover {
  color: white;
  border: 1px solid rgb(255, 255, 255);
  background: none;
  text-decoration: none;
}

.toogle-menu {
  color: #fff;
  font-size: 40px;
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}

.toogle-model {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  background: linear-gradient(45deg, #ffffff, #a1a0a1, #f7f3f7);
  overflow: hidden;
  opacity: 0;
  transition: top 0.5s ease-out, opacity 0.5s ease-out;
}

.toogle-model.show {
  top: 0;
  opacity: 1;
}

.toogle-model-menu {
  text-align: center;
  padding: 20px;
}

.toogle-model ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.toogle-model li {
  padding: 18px;
  cursor: pointer;
}

.toogle-model li a {
  color: rgb(48, 7, 58);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.toogle-close {
  margin-top: 20px;
  background: linear-gradient(45deg, #360f3d, #1f0f1f, #0e0c0e);
  color: #fff;
  padding: 8px 39px;
  border: none;
  border-radius: 40px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toogle-close:hover {
  background-color: #4e2a5a;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .toogle-menu {
    display: flex;
  }

  .links-content {
    display: none;
  }

  .login,
  .account {
    display: none;
  }
}
