* {
  font-family: "Roboto", sans-serif;
}

.central-content {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.central-content p {
  font-size: 0.9rem;
  font-weight: 200;
  color: #d6d6d6;
}

.central-content h1 {
  padding-bottom: 20px;
  font-size: 3.9rem;
  font-weight: 400;
}

.central-content img {
  font-weight: 200;
  font-size: 15px;
}

.buttons-service {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 20px;
}

.offer,
.service {
  padding: 10px 35px;
  border-radius: 50px;
  border: none;
  text-decoration: none;
  text-align: center;
}

.buttons-service .offer {
  background: linear-gradient(45deg, #cccccc, #ffff, #f1f1f1);
  color: rgb(93, 24, 110);
  border: solid rgb(59, 17, 92);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-service .offer:hover {
  background: none;
  border: solid whitesmoke;
  color: white;
}

.buttons-service .service {
  border: solid white;
  color: white;
}

.buttons-service .service:hover {
  background: linear-gradient(45deg, #cccccc, #ffff, #f1f1f1);
  color: rgb(93, 24, 110);
}

@media (max-width: 768px) {
  .central-content h1 {
    font-size: 2rem;
    padding: 1vh 1vh 3vh 1vh;
  }
  .central-content p {
    font-size: 14px;
    padding: 1vh 1vh 3vh 1vh;
  }
}
