* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

index,
body {
  background: radial-gradient(
      circle at left,
      hsl(285, 67%, 53%),
      #5b1d6d 10%,

      transparent 25%
    ),
    radial-gradient(
      circle at right,

      hsl(281, 47%, 34%),
      #491365 10%,
      transparent 60%
    ),
    rgb(0, 0, 0);
}

.headerOf {
  padding: 10px;
}

.centralOf {
  padding-top: 6vh;
  text-align: center;
  align-items: center;
}

.footerOf {
  text-align: center;
  padding-top: 14vh;
}
